<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="metricsExtension" name="metrics Extension" schema="schema/metricsExtension.exsd"/>
   <extension
         id="helloView"
         name="MetricsEditor"
         point="pt.iscte.pidesco.view">
      <view
            class="pt.iscte.pidesco.metrics.MetricsEditor"
            icon="smile.png">
      </view>
   </extension>

</plugin>
